<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="b">
        <h1>ADD USER</h1>
    <form class="container1"  action="addingUser" method="POST">
      <input class="i" type="text" placeholder="    enter Name" name="Name">
        <input class="i" type="text" placeholder="    enter ID" name="id">
         <input class="i" type="text" placeholder="    enter Department" name="Department">
          <input class="i" type="text" placeholder="    enter BasicSalary" name="BasicSalary">
        <button>submit</button>
    </form>
    </div>
</body>
</html>