<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="b">
        <h1> Welcome to Find</h1>
    
        <form class="container" action="find1" method="post">
        <input class="i" type="text" placeholder="    enter ID" name="id">
        <div>
        <button class="l">Find</button>
        </div>
       </form>
    
    </div>
</body>
</html>